<general
    background_color0="0 0 0"
    background_color="0.675 0.843 0.898"
    verbose="false"
    num_threads="1"/>

<!-- Front View --!>
<pinhole
    pixel_size="0.30"
    num_samples="2"
    num_bounces="5"
    eye="0 0 60"
    up="0 1 0"
    look_at="0 0 0"
    view_distance="100">

    <ppm_viewplane
        hres="800"
        vres="600"
        filename="out.ppm" />

</pinhole>

<!-- Side View --!>
<pinhole
    pixel_size="0.30"
    num_samples="2"
    num_bounces="5"
    eye="-60 0 0"
    up="0 1 0"
    look_at="0 0 0"
    view_distance="100">

    <ppm_viewplane
        hres="800"
        vres="600"
        filename="out1.ppm" />

</pinhole>

<!-- Top View --!>
<pinhole
    pixel_size="0.30"
    num_samples="2"
    num_bounces="5"
    eye="0 60 0"
    up="0 0 1"
    look_at="0 0 0"
    view_distance="100">

    <ppm_viewplane
        hres="800"
        vres="600"
        filename="out2.ppm" />
</pinhole>

<colors>
    <color name="red" value="1 0 0" />
    <color name="green" value="0 1 0" />
    <color name="blue" value="0 0 1" />

    <color name="yellow" value="1 1 0" />

    <color name="white" value="1 1 1" />
    <color name="black" value="0 0 0" />
</colors>

<lights>
    <point intensity="1000.0" color="white" point="0 50 0" />
    <ambient intensity="1000.0" color="white" />
</lights>

<materials>
    <phong 
        name="white_r0.8"
        ka="0.0" 
        kd="0.2" 
        ks="0.2" ke="100.0"
        kr="0.8"
        kt="0.0" ki="1.0">
        <solid color="white" />
    </phong>
    <phong
        name="white"
        ka="0.0" 
        kd="0.2" 
        ks="0.2" ke="100.0"
        kr="0.0"
        kt="0.8" ki="0.90">
        <solid color="white" />
    </phong>
    <phong 
        name="checker"
        ka="0.3" 
        kd="0.8" 
        ks="0.2" ke="100.0"
        kr="0.0"
        kt="0.0" ki="1.0">
        <checkered
            color1="red"
            color2="yellow"
            size="0.1" />
    </phong>
</materials>
    
<kdtree_index>
    <triangle
        p0="-45 -30 -85"
        uv0="0 0"
        p1="-45 -30 45"
        uv1="1 0"
        p2="45 -30 45"
        uv2="1 1"
        material="checker" />
    <triangle
        p1="-45 -30 -85"
        uv1="0 0"
        p0="45 -30 -85"
        uv0="0 1"
        p2="45 -30 45"
        uv2="1 1"
        material="checker" />
    <sphere
        point="20 -10 -15"
        radius="10"
        material="white_r0.8" />
    <sphere 
        point="0 -3 0"
        radius="13"
        material="white" />
</kdtree_index>
